$lizard-primary-color: #606ddd;
$lizard-primary-darken-color: darken(#606ddd, 15);

$lizard-gray-delimiter-color: #dee2e6;

$lizard-text-gray: #606975;

$lizard-font-size: .93rem;

$lizard-input-border-color: #ccc;

$lizard-price-color: #e83e8c;
