// Variables
@import 'variables';

// Custom variables
@import 'lizard_variables';

// bootstrap-select
@import "vendor/snapappointments/bootstrap-select/sass/bootstrap-select.scss";

// -------------------------------------------------- header styles ---------------------------------------------------
// ---------------------------------------------------------------------------------------------------------------------

#admin-header {
  background-color: $lizard-primary-color;
  color: #ffffff;
  height: 32px;

  a {
    height: 32px;
    line-height: 20px;
    color: #ffffff;
    padding: 6px 10px;
    display: inline-block;
  }

  a:hover:not(.disabled) {
    background-color: $lizard-primary-darken-color;
    text-decoration: none;
  }
}

// -------------------------------------------------- sidebar styles ---------------------------------------------------
// ---------------------------------------------------------------------------------------------------------------------

#sidebar {
  min-width: 130px;

  .nav-link[data-toggle].collapsed:after {
    content: "\00a0\00a0▾";
  }
  .nav-link[data-toggle]:not(.collapsed):after {
    content: "\00a0\00a0▴";
  }

  a {
    color: $lizard-text-gray-color;
    font-size: 1.2rem;
    padding: .5rem 0;
  }

  a:hover {
    color: black;
  }

  ul, li {
    display: block;
  }
}

// -------------------------------------------------- header styles ----------------------------------------------------
// ---------------------------------------------------------------------------------------------------------------------

.admin-content-actions{
  text-align: right;
}

// -------------------------------------------------- content styles ---------------------------------------------------
// ---------------------------------------------------------------------------------------------------------------------

.admin-content-header {
  margin: 3rem 0;
}

.admin-content-sub-header{
  display: inline-block;
}

.tab-content {
  padding: 2rem 0;
}

label.required:after {
  color: red;
  content: " *";
  font-size: 1.4rem;
}


// -------------------------------------------------- tables styles ----------------------------------------------------
// ---------------------------------------------------------------------------------------------------------------------

.table-image{
  width: 100px;
}

// -------------------------------------------------- category styles --------------------------------------------------
// ---------------------------------------------------------------------------------------------------------------------

.category-list{
  list-style: none;
  line-height: 34px;
}

.parent-category-row{
  background-color: white;
}

.cat-depth-1 {
  padding-left: 3.5rem;
}

.cat-depth-2 {
  padding-left: 5.5rem;
}

.cat-depth-3 {
  padding-left: 7.5rem;
}

.cat-depth-4 {
  padding-left: 9.5rem;
}

.cat-depth-5 {
  padding-left: 11.5rem;
}

// -------------------------------------------------- product and attributes styles ------------------------------------
// ---------------------------------------------------------------------------------------------------------------------



.attribute-value-item, .product-image-item, .product-attribute-item, .product-filter-item, .category-filter-item, .product-category-item {
  position: relative;

  .attribute-value-item-delete, .product-image-item-delete, .product-attribute-item-delete, .product-filter-item-delete, .category-filter-item-delete, .product-category-item-delete {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 2px 2px 2px 6px;
  }
}

.add-image-input {

  display: inline-block;

  input {
    display: inline-block;
    float: left;
    width: auto;
  }

  .btn {
    position: relative;
    height: 100%;

    input[type=file] {
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
      padding: 0;
      font-size: 20px;
      cursor: pointer;
      opacity: 0;
      filter: alpha(opacity=0);
    }
  }
}

// -------------------------------------------------- attribute values styles ------------------------------------------
// ---------------------------------------------------------------------------------------------------------------------

#attribute-values-list-table {

  .attribute-value-image {

    width: 30%;

    img {
      max-height: 100px;
    }
  }
}

// -------------------------------------------------- Vendor Categories and products -----------------------------------
// ---------------------------------------------------------------------------------------------------------------------

.custom-control-input.queued-product-checkbox:checked ~ .custom-control-label::before{
    background-color: $orange !important;
}
