<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    RewriteBase /

    # SEO Redirect (remove 'page=1' from query string)
    RewriteCond %{QUERY_STRING} ^page=1(&(.*))?$ [NC]
    RewriteRule ^(.*)$ $1?%2 [R=301,L]

    RewriteCond %{QUERY_STRING} ^(.*)&page=1(&(.*))?$ [NC]
    RewriteRule ^(.*)$ $1?%1%2 [R=301,L]

    # SEO Redirect (remove 'ru' from route)
    RewriteRule ^(.*)/ru$ $1 [R=301,L]

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]



</IfModule>
